.venv
*.pyc
__pycache__
out/
synopsis/bilag.aux
synopsis/bilag.log
synopsis/bilag.out
.mathsense
synopsis/bilag.fdb_latexmk
synopsis/bilag.fls
synopsis/.hermes-tmp*
synopsis/*.synctex.gz
synopsis/synopsis.aux
synopsis/synopsis.log
synopsis/synopsis.out
synopsis/synopsis.fdb_latexmk
synopsis/synopsis.fls
synopsis/pages.txt
.pytest_cache
.mathsensesynopsis/synopsis.toc
synopsis/pages.txt
